@media all and (max-width:670px ){
 header{
   width:100%;
  }
.top-wrapper h1{
text-align:center;
font-size:24px;
display:none;
}
  
.top-wrapper img{
width:100%;
}
.top-wrapper h2{
text-align:center;
font-size:24px;
}
.second-wrapper{
}

.btn-wrapper{
width:100%;
}
.sample-wrapper{
display:none;
}
.sub-wrapper{
width:100%
}
footer{
  width:100%;
  }
  
  
.footer-logo{
text-align:center;
}
.mail-wrapper h1{
text-align:center;
font-size:24px;
}
address{
  text-align:center
}
.profile-title h2{
  text-align:center;
  font-size:14px;
  }
}
